
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}


.div-right{
  position:relative;
  background:	#0096FF;  
  width:200px;
  padding:10px; 
  border-radius:5px;
 }
 .div-right:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent transparent transparent #0096FF ;
  right:-20px;
  top:10px;
 }
  

 .div-left{
  position:relative;
  background:#F5B041 ;  
  width:200px;
  padding:10px; 
  border-radius:5px;
  margin:10px;
 }
 .div-left:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent #F5B041 transparent transparent;
  left:-20px;
  top:10px;
 }